/* Estilos para el ejemplo7 */
body{
    background-color: lightblue;
}

h1{
    color: navy;
    margin-left: 20px;
}

/* Estilos para el ejemplo 8 */
p{
    color: blue;
    font-size: 24px;
    text-align: center;
}
#parrafo1{
    text-align: right;
    color: green;
}
#parrafo2{
    text-align: left;
    color: orange;
}